* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}

/* <!-- header starts here -->


   <!-- header ends here --> */

/* <!-- sectionOne starts here --> */
.macBook_wrapper {
  text-align: center;
  padding: 25px 0;
  background-color: #fafafa;
}
.model_wrapper {
  font-size: 0.85em;
}
.macBook {
  font-weight: 700;
  font-size: 56px;
}
.macBook_description {
  font-size: 2em;
}
.link_wrapper a {
  color: #06c;
  text-decoration: none;
}
.link_wrapper a::after {
  font-family: "FontAwesome";
  content: "\f105";
  font-weight: 900;
  padding-left: 12px;
}
.link_wrapper a:hover {
  color: black;
}
.link_wrapper {
  padding: 15px 0;
}
.learnMore {
  margin-right: 37px;
}

/* <!-- sectionOne ends here -->  */

/* <!-- sectionTwo starts here --> */
.ip11Pro_wrapper {
  text-align: center;
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 65px 20px;
}
.ip11_pro {
  font-weight: 600;
  font-size: 56px;
}
.ip11Pro_description {
  font-size: 26px;
  padding: 10px 0;
}
.price_wrapper {
  color: #86868b;
  font-size: 0.85em;
}

/* <!-- sectionTwo ends here --> */

/* <!-- sectionThree starts here --> */
.ip11_wrapper {
  text-align: center;
  background-image: url("../images/home/iphone11-bg.jpg");
  background-position: center;
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
}
.ip11 {
  font-weight: 600;
  font-size: 56px;
}
.ip11_description {
  font-size: 26px;
  padding: 10px 0;
}

/* <!-- sectionThree ends here -->  */

/* <!-- sectionFour starts here -->
   <!-- sectionFour ends here --> */

/* <!-- sectionFive starts here -->
   <!-- sectionFive ends here --> */

/* <!-- sectionSix starts here -->
   <!-- sectionSix ends here --> */

/* <!-- footer starts here -->
   <!-- footer ends here --> */
